# ROOT
*.git
*.env


#DART
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/build/
# Web related
lib/generated_plugin_registrant.dart
# Symbolication related
app.*.symbols
# Obfuscation related
app.*.map.json
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/key.properties

**/target
# /packages/bitcoin/ios/libstackmate.a
# /packages/libstackmate/android/src/main/jniLibs/x86_64/libstackmate.so
# /packages/libstackmate/android/src/main/jniLibs/x86/libstackmate.so
# /packages/libstackmate/android/src/main/jniLibs/armeabi-v7a/libstackmate.so
# /packages/libstackmate/android/src/main/jniLibs/arm64-v8a/libstackmate.so
# /packages/libstackmate/linux/x86_64/libstackmate.so
# /packages/libstackmate/macos/x86_64/libstackmate.dylib

# /packages/libcpclient/android/src/main/jniLibs/x86_64/libcpclient.so
# /packages/libcpclient/android/src/main/jniLibs/x86/libcpclient.so
# /packages/libcpclient/android/src/main/jniLibs/armeabi-v7a/libcpclient.so
# /packages/libcpclient/android/src/main/jniLibs/arm64-v8a/libcpclient.so
# /packages/libcpclient/linux/x86_64/libcpclient.so
# /packages/libcpclient/macos/x86_64/libcpclient.dylib

coverage/*